<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>장바구니</title>
<!--    <link rel="stylesheet" th:href="@{/css/main/cart.css}" href="../../static/css/main/cart.css">-->
<!--    <script th:src="@{/js/cart.js}" src="../../static/js/cart.js" defer></script>-->
</head>
<body>
    <th:block th:replace="~{/main/header :: header}"></th:block>


</body>
</html>